<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="مساري"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".ReminderReceiver" android:exported="false" />
        <activity android:name=".RewardCenterActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PlannerCenterActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".WeeklyPlannerActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariRewardsActivityV4" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV10Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV11Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV12Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV13Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV14Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV15Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV16Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MasariV17Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".MasariV18Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
